#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center !important;
}

/* Below are existing things that need adjustments */

input {

  border-radius: 7px;
}

.taskImg {
  width: 450;
  height: 450;
  border-radius: 10px;
}



/* Below are for custom animations and effects: */

.banner {

  background-color: #52AAEA;

}

Figure {

  background-color: rgba(163, 113, 47, 0.534);
  border-radius: 10px;
}

Figure:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
  opacity: 0.8;
  color: #f9f9f9;

}


.options {
  display: flex;
  justify-content: left;
  text-align: left;
  gap: 1em;
  padding-left: 5%;
  background-color: #393838 !important;
  border: 2px solid rgb(87, 54, 54);
  
}

.options:hover {
  border-color: #f9f9f9;
  transform: scale(1.03);
  transition: transform 0.25s;
  background-color: #7a7878 !important;
}